* {
    margin: 0;
    padding: 0;
}
body {
    height: 500px;
    background: pink;
}

header {
    background: yellow;
}
nav {
    float: left;
    width: 20%;
    background: red;
}
footer {

    width: 20%;
    background: green;
}
article {
    width: 30%;;
    background: blue;
}
.right {
    float: right;
}
